[Desktop Entry]
Name=Linexin Center

Exec=python /usr/bin/linexin-center

Icon=/usr/share/icons/github.petexy.linexincenter.svg

Terminal=false
Type=Application
Categories=GTK; System; Linexin; Adwaita; Updates; Tools; 
StartupNotify=false
